<%-include('./partials/header')%>
<%-include('./partials/navbar')%>
<div class="container py-4">
    <div class="d-flex align-items-center">
        <i class="fas fa-user-plus fs-2 mx-2 text-success"></i>
        
        <h1>Add Contact</h1>
    </div>
    <form action="/compose/" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Add Name</label>
            <input type="text" class="form-control" name="name" required >
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Add Email</label>
            <input type="text" class="form-control" name="email" required>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Add Phone</label>
            <input type="text" class="form-control" name="phone" required>
        </div>
        <div class="mb-3">
            <label for="brithday" class="form-label">Add Brithday</label>
            <input type="text" class="form-control" name="brithday" required>
        </div>
        
        <button type="submit" class="btn btn-success">Save Contact</button>
    </form>
<%-include('./partials/footer')%>